<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="appcontest.seoulsi_we">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".activity.IntroActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.MapActivity" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="19d303c14b03e1cd2e31f6ee72c6999d" />

        <activity
            android:name=".activity.IntroductionAppActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AboutDemoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EnrolMyDemoActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.DetailDemoActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.AboutDemoDetailActivity"></activity>
    </application>

</manifest>